@{

}

<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-tasks"></i> <input type="text" id="txtSection[Id]" class="form-control input-sm" placeholder="Título de la Sección" />
        <div class="panel-tools">
           No Programado
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-link">Agregar Pregunta <i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
