<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <appSettings>
    <add key="RedisConnection" value="localhost:6379"/>
    <add key="correos" value="acorrales@mardisresearch.com,faguirre@mardisresearch.com,dsamueza@mardisresearch.com" />
    <!--wyagual@gnoboa.com,-->
  </appSettings>
</configuration>
