<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <appSettings>
    <add key="RedisConnection" value="localhost:6379"/>
    <add key="correos" value="wyagual@gnoboa.com,dreinoso@gnoboa.com,rcarvajal@gnoboa.com"/>
    <!--wyagual@gnoboa.com,fanchundia@gnoboa.com,dreinoso@gnoboa.com,rcarvajal@gnoboa.com,anloor@gnoboa.com-->
  </appSettings>
</configuration>
