<!-- Main content -->
<div class="container body-content">
    <section class="content">
        <!-- Your Page Content Here -->
        @RenderBody()
    </section>
</div>
<!-- /.content -->
@RenderSection("scripts")