/*
 * Skin: Mardis
 * ----------
 */
.skin-mardis .main-header .navbar {
  background-color: rgba(0,0,0,0.5);
}
.skin-mardis .main-header .navbar .nav > li > a {
  color: #000000;
}
.skin-mardis .main-header .navbar .nav > li > a:hover,
.skin-mardis .main-header .navbar .nav > li > a:active,
.skin-mardis .main-header .navbar .nav > li > a:focus,
.skin-mardis .main-header .navbar .nav .open > a,
.skin-mardis .main-header .navbar .nav .open > a:hover,
.skin-mardis .main-header .navbar .nav .open > a:focus,
.skin-mardis .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-mardis .main-header .navbar .sidebar-toggle {
  color: #4d4d4d;
}
.skin-mardis .main-header .navbar .sidebar-toggle:hover {
  color: #4d4d4d;
  background: #ffffff;
}
.skin-mardis .main-header .navbar .sidebar-toggle {
  color: #4d4d4d;
}
.skin-mardis .main-header .navbar .sidebar-toggle:hover {
  background-color: #ffffff;
}

.skin-mardis .main-header .logo {
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-mardis .main-header .logo:hover {
  background-color: #ffffff;
}
.skin-mardis .main-header li.user-header {
  background-color: #4d4d4d;
}
.skin-mardis .content-header {
  background: transparent;
}
.skin-mardis .wrapper,
.skin-mardis .main-sidebar,
.skin-mardis .left-side {
  background-color: #4d4d4d;
}
.skin-mardis .user-panel > .info,
.skin-mardis .user-panel > .info > a {
  color: #fff;
}
.skin-mardis .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-mardis .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-mardis .sidebar-menu > li:hover > a,
.skin-mardis .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}
.skin-mardis .sidebar-menu > li > .treeview-menu {
  margin: 0;
  background: #1e282c;
}
.skin-mardis .sidebar a {
  color: #ffffff;
}
.skin-mardis .sidebar a:hover {
  text-decoration: none;
}
.skin-mardis .treeview-menu > li > a {
  color: #ffffff;
}
.skin-mardis .treeview-menu > li.active > a,
.skin-mardis .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-mardis .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-mardis .sidebar-form input[type="text"],
.skin-mardis .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-mardis .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-mardis .sidebar-form input[type="text"]:focus,
.skin-mardis .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-mardis .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-mardis .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-mardis.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-mardis.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}

.skin-mardis.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-mardis.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}